* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Optional: for including padding and border in the element's total width and height */
  }
  
  body {
    font-family: sans-serif;
  }

  header{
    background: #1F2937;
    padding: 50px 200px;
    color: white;
  }

  nav{
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .logo{
    font-size: 24px;
    text: #F9FAF8
  }

  .header-links{
    display: flex;
    gap: 20px
  }

  .header-links a{
    color: #E5E7Eb;
    text-decoration: none;
  }

  main{
    display: flex;
    gap: 100px
  }

  .main-left{
    flex-direction: column;
  }
  .main-left, .main-right{
    display: flex;
    flex:1
  }

  .main-right{
    background-color: gray;
    align-items: center;
    justify-content: center;
    
  }

  h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
  }

.main-left p{
    font-size: 18px;
    color: #E5E7Eb
  }
  button{
    width: 100px;
    border-radius: 10px;
    padding: 5px;
    background: #3882F6;
    color: white
  }

  h2{
    text-align: center;
    margin: 30px 0px;
  }

.container{
    display: flex;
    gap: 50px;
    padding: 0 200px;
    justify-content: space-evenly;
}

.box{
    flex: 1
}

.box img{
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.box p{
    text-align: center;
}

.midline{
    margin-bottom: 50px;
}

.quote{
    background: #E5E7EB;
    padding: 100px 350px;
}

.quote p{
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    color: #1F2937;
    text-align: left;
}

.quote footer{
    font-weight: bold;
    text-align: end;
}